:root {
    background-color: rgb(14, 23, 78);
    font-size: 62.5%;

}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color:rgb(255, 255, 255);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color:rgb(255, 255, 255);
    margin-bottom: 5rem;
}

 h1 > span { 
    font-size: 2.4rem;
    margin-bottom: 4rem;
    font-weight: 700; 

}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* services */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;

}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    justify-content: center;
}

.justify-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* btn */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgb(255, 252, 252);
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(253, 255, 255);
    background-color: rgb(15, 15, 15);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(252, 251, 250);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}