:root {
    background-color: rgb(0, 0, 0);
    font-size: 62.5%;

}

*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
}

h1 {
    font-size: 54px;
    color:rgb(255, 255, 255);
    margin-bottom: 50px;
}

 h1 > span { 
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 700; 

}

h2 {
    font-size: 42px;
    margin-bottom: 40px;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* services */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 50px;

}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    justify-content: center;
}

.justify-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* btn */
.btn {
    font-size: 18px;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border: 10px solid rgb(255, 252, 252);
    margin-bottom: 10px;
    text-decoration: none;
    color:rgb(253, 255, 255);
    background-color: rgb(15, 15, 15);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(252, 251, 250);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


#scr {
    display: flex;
    justify-content: center;
    color: white;
}

.scr-prefix {
    text-align: center;
    font-size: 40px;
}


/* end screen */
.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    border: none;
    box-shadow: 0 1px 14px rgb(253, 252, 252);
    color: rgb(7, 7, 7);

}

/* timer */
.container .timer {
    border-radius: 10px;
    display:inline;
    align-items: center;
}


.container .clock {
    font-size: 25px;
    text-decoration: underline;
}

