.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 18px;
    border: 1px solid rgb(180, 194, 221);
    background-color: rgb(141, 145, 145);
}

.choice-prefix {
    padding: 15px 25px;
    background-color: rgb(245, 239, 239);
    color:rgb(3, 3, 3);
    font-weight: bolder;
}

.choice-text {
    padding: 15px;
    width: 83%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(252, 251, 250);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.correct {
    background-color: rgba(0, 0, 255, 0.555);
}

.incorrect {
    background-color: rgba(255, 68, 0, 0.575);
}

/* timer */

#timeSeconds {
    font-weight: 400;
    color: #e96281;

}

#count {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 24px;
    text-decoration: underline;
    text-decoration-color: #e96281;

}
